        h2 {
            color: rgb(0, 232, 15);
        }  
        body {
                margin: 0px;
                background-color: rgb(250, 239, 213);
        }
        
        #background {
                background-image: url("myBackground.jpg");
                background-size: cover;
                background-position: center center;
                position: relative;
                top: 0;
                bottom: 0;
                height: 100vh;
                z-index: -10;
                }
        #background-overlay {   
                position: absolute;
                background-color: rgba(0,0,0,0.75);
                top: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                z-index: -5;
                }

        #personal-pic {
                width: 100px;
                float: left;
                margin-right: 10px;
 
            }
